/* COMMON */
/* -------------------------------- */
body {
    background: linear-gradient(to bottom, #3ccacc,#91df72);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100vw;
}


.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /* background: linear-gradient(to bottom, #3ccacc,#91df72); */
 
}




/* POSTS */
/* ---------------------------------- */
.post_form {

    padding: 20px 40px; 
    border-bottom: 1px solid #ccc;
}
img.menu_icon.js-menu-icon {
    position: absolute;
    top: 10%;
    right: 10%;
}

.post_form input {

width: 70%;
margin-bottom: 10px;
padding:10px;
border:1px solid #71a2a5
}


.post_form textarea{
width:70%;
padding: 10px;
border:10px solid #ccc


}


.posts ul {

    padding: 0;
}


.posts li {

display:flex;
border-bottom: 1px solid #ccc;
padding: 17px;
position:relative;
}
li img.menu_icon {
    position: absolute;
    top: 10%;
    right: 10%;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {

    width: 60%;
}


.posts li .name_body {

flex-basis: 85%;


}

.posts li .name_body .name {
 

    font-weight: bold;

}

.posts li .name_body .datetime {

color:gray;

}


.posts li .menu{
 display:none;
 position:absolute;
 top:40px;
 right:15px;
 border:1px solid #ccc;
 background-color:white;
 padding:1rem 2rem;
 font-size:13px;
 border-radius :3px;
 width: 3rem;
 height: 2vh;
}
.menu a{
    text-decoration:none ;
    color: #000;
}
@media screen and (max-width:500px) {

    .posts li .name_body .name{

        font-size: 20px;
    }
    
    
}

